body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #414141;
}

.pages .page {
  display: none;
}

.pages .page.is-active {
  display: flex;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.menu-content {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.rounds-number {
  font-size: 26px;
}

.round-btns,
.start-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #bdb76b;
}

.round-btn {
  height: 25px;
  margin: 3px;
}

#round-down.deactivate {
  color: #bdb76b55;
  pointer-events: none;
}
